{% extends 'base.html.twig' %}

{% block title %}Modifier du mot de passe - Zed Shop
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	<a href="{{ path ('account') }}">Retourner sur mon compte</a><br>
	<hr>
	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>
	{% endif %}
	{{ form(form) }}{% endblock %}
